.vertical-hero-container {
  min-height: 700px;
  height: 700px;
  width: 100%;
}

.vertical-hero-wrapper {
    padding: 40px 0;
}

.vert-control-herobox {
  display: flex;
  justify-content: space-between;
  padding: 80px;
}