.project-horizontal-video-container {
  aspect-ratio: 16 / 9;
  max-width: 950px;
  width: 100%;
  min-width: 600px;
  position: relative;
  overflow: hidden;
}

.project-horizontal-video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.horizontal-hero-container {
    min-height: 700px;
}

.project-title-container {
    min-width: 600px;
}

@media (max-width: 1293px) { 
    .project-title-container {
      min-width: 450px;
    }
}

@media (max-width: 1130px) { 
    .project-title-container {
      min-width: 410px;
    }
    .project-hero-wrapper {
      padding: 60px;
    }
}

@media (max-width: 1059px) { 
    .horizontal-hero-container {
        min-height: 530px;
    }
    .project-horizontal-video-container {
        min-width: 400px;
    }
}

@media (max-width: 901px) { 
    .horizontal-hero-container {
        min-height: 450px;
    }
    .project-horizontal-video-container {
        min-width: 400px;
    }
}

@media (max-width: 870px) { 
    .project-title-container {
      min-width: 360px;
    }
}

@media (max-width: 820px) { 
    .project-title-container {
      min-width: 320px;
    }
}

@media (max-width: 777px) { 
    .horizontal-hero-wrapper {
      display: flex;
      justify-content: space-between;
      height: auto;
    }
    .project-hero-wrapper {
      padding: 0px 30px;
      flex-direction: column-reverse;
    }
    .project-horizontal-video-container {
        height: 199px;
        min-width: auto;
    }
    .project-hero-info-container {
      position: unset;
    }
    .project-title-container {
        width: 100%;
        gap: 30px;
        margin-top: 45px;
        align-items: center;
        min-width: unset;
    }
}

@media (max-width: 500px) { 
    .project-hero-wrapper {
      padding: 0 0px;
    }
    .project-horizontal-video-container {
      width: 90%;
      min-width: auto;
    }
    .horizontal-hero-wrapper {
      align-items: center;
    }
}