.project-hero-container {
    background-color: #000000;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 0;
    position: relative;
}

.project-hero-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.project-title-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
}

.project-title {
    font-family: 'PPMontreal-bold';
    font-size: 80px;
    color: #ffffff;
    line-height: 1;
}

.project-hero-info-type {
    color: #ffffff;
}

.project-hero-info-right {
    text-align: right;
}

.project-horizontal-video-container {
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-hero-info-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
    top: 80px;
}

.project-hero-info-wrapper {
    display: flex;
    justify-content: space-between;
}

.project-hero-info-button {
    background: #ffffff;
    color: #000000;
    text-align: center;
    margin: 15px 0;
}

.project-video-link {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.project-right-content {
    padding: 0 0 0px 50px;
}

.project-content-mainline {
    font-family: 'PPMontreal-Bold';
    font-size: 28px;
}

.project-content-mainline {
    font-size: 28px;
    padding-bottom: 30px;
    padding: 0px 0px 30px 0px;
}

.project-content-subcontent {
    font-size: 28px;
    padding-bottom: 20px;
}

.project-brand-logo-img {
    width: 250px;
}

.project-brand-logo {
    width: 310px;
}


@media (max-width: 1300px) { 
    .project-title-container {
        width: 75%;
    }
    .project-title {
        font-size: 70px;
    }
}

@media (max-width: 1198px) { 
    .project-title {
        font-size: 60px;
    }
}

@media (max-width: 1059px) { 
    .project-title {
        font-size: 50px;
    }
    .horizontal-hero-container {
        min-height: 530px;
    }
}

@media (max-width: 901px) { 
    .project-title {
        font-size: 45px;
    }
    .horizontal-hero-container {
        min-height: 450px;
    }
}

@media (max-width: 827px) { 
    .project-title {
        font-size: 40px;
    }
}

@media (max-width: 777px) { 
    .project-title {
      text-align: center;
    }
}
