.home-hero-container {
  position: relative;
  width: 100vw;
  height: 100vh; /* fullscreen viewport height */
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1; /* send behind any other content */
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  text-align: center;
  white-space: nowrap; /* prevent wrapping, optional */
  z-index: 2; /* ensure it's on top */
  user-select: none;
}

.hero-logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  user-select: none;
  width: 50%;
}

.hero-fade {
    height: 220px;
    width: 3000px;
    background: white;
    position: absolute;
    bottom: -160px;
    right: -40px;
    filter: blur(25px);
    overflow: hidden;
}

@media (max-width: 1024px) {
.hero-title {
    top: 40%;
    font-size: 40px;
}
}

@media (max-width: 780px) {
.hero-title {
    font-size: 35px;
}
}

@media (max-width: 667px) {
.hero-title {
    font-size: 40px;
    white-space: break-spaces;
    width: 400px;
}
.hero-logo {
    width: 100%;
}
}

@media (max-width: 410px) {
.hero-title {
    font-size: 32px;
    width: 330px;
}
}

@media (max-width: 330px) {
.hero-title {
    font-size: 29px;
}
}