

.services-container {
    background: #fff;
}

.services-wrapper {
    display: flex;
}

.services-left, .services-right {
    width: 50%;
    padding: 60px ;
}

.services-title {
    font-weight: 900;
    padding: 0 0 15px 0;
}

.services-content p {
    font-size: 28px;
}