.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.menu-bar a, 
.menu-open p{
    color: #fff;
    cursor: pointer;
}

.menu-logo a{
    font-size: 40px;
    padding: 5px;
}

.menu-open p {
    position: relative;
    right: 45px;
    top: -32px;
    background: black;
    padding: 15px 35px;
    border-radius: 0 0 0 15px;
}

.menu-close {
    position: absolute;
    top: 15px;
    right: 110px;
}

.menu-close p {
    color: #fff;
    cursor: pointer;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2em;
    background: #000;
    z-index: 3;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-close-icon {
    flex: 2;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.mobile-menu-logo {
    width: 10px;
    position: absolute;
    top: 30px;
}

.menu-copy {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
}

.menu-preview {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu-close-icon p {
    font-size: 100px;
    -webkit-text-stroke: 3px #000;
    color: #fff;
    line-height: 70%;
}

.menu-link-item {
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
    position: relative;
}

.menu-link-item-holder a {
    color: #fff;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 85%;
}

.menu-info {
    display: flex;
}

.menu-info-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-info-col a,
.menu-info-col p {
    color: #fff;
}

@media (max-width: 1000px) {
    .menu-logo a {
        font-size: 20px;
    }

  }

  @media (min-width: 901px) {
    .menu-container {
        display: none;
    }
}

@media (max-width: 900px) {
    .menu-close-icon {
        display: none;
    }

    .menu-copy {
        padding-top: 8em;
    }

    .menu-link-item-holder a {
        font-size: 60px;
    }
}

@media (max-width: 1000px) {
    .menu-logo a {
        font-size: 15px;
    }
  }

  @media (max-width: 450px) {
    .menu-link-item-holder a {
        font-size: 50px;
    }
    .menu-info-col {
        display: none;
    }
  }

  @media (max-width: 325px) {
    .menu-link-item-holder a {
        font-size: 45px;
    }
  }