:root {
  --white: #ffffff;
  --black: #171717;
}
 *{
padding: 0;
margin: 0;
 }

@font-face {
  font-family: 'PPPangaiaMedium';
  src: url('/fonts/PPPangaia-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMontreal-Thin';
  src: url('/fonts/PPNeueMontreal-Thin.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'PPNeueMontreal-Thin', sans-serif;
}

.devtools-indicator {
  display: none;
}