:root {
  --white: #ffffff;
  --black: #171717;
}
 *{
padding: 0;
margin: 0;
 }

 @font-face {
  font-family: 'PPMontreal-Bold';
  src: url('/fonts/PPNeueMontreal-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPPangaiaMedium';
  src: url('/fonts/PPPangaia-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPNeueMontreal-Thin';
  src: url('/fonts/PPNeueMontreal-Thin.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

main {
  overflow: hidden;
}

body {
  font-family: 'PPNeueMontreal-Thin', system-ui, sans-serif;
  background: #ffffff;
}

.devtools-indicator {
  display: none;
}

h3 {
  font-size: 48px;
}

.font-bold {
    font-family: 'PPMontreal-Bold', system-ui, sans-serif;
}

.page-title {
  font-size: 120px;
  font-family: 'PPMontreal-Bold', system-ui, sans-serif;
}

.thirty-spacer {
  padding: 15px 0;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
}

.bolded {
  font-family: 'PPMontreal-Bold';
}