.header {
  display: flex;
      position: fixed;
      z-index: 3;
      width: 100%;
      top: 0;
      justify-content: center;
      align-items: center;
      padding: 1rem;
  }
  
  .aud-nav-logo {
    max-width: 150px;
    fill: #fff;
  }
  