.footer-container {
    background: #000000;
}

.footer-wrapper {
    display: flex;
    color: white;
    justify-content: space-between;
}

.footer-logo-wrapper {
    margin: 0px 0px 30px 70px;
}

.footer-logo-byline {
    color: #fff;
    display: flex;
    flex-direction: column;
}


.footer-logo-byline span {
    font-size: 30px;
}

.footer-contact-title h4 {
    text-align: center;
    padding: 2px 41px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 27px;
    margin: 30px 0;
}

.footer-sitemap-wrapper {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin: 30px 90px 0 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-logo {
    position: relative;
    top: -15px
}

@media (max-width: 950px) {
    .footer-wrapper {
        display: block;
    }
    .footer-logo-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .footer-logo {
        width: 100%;
    }
    
    .footer-contact-title h4 {
        width: 110px;
    }
    .footer-contact-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .address {
        text-align: center;
    }

    .footer-sitemap-wrapper {
        align-items: center;
        margin: 0px;
        padding: 30px 0;
    }
}