.landvideo-background {
  position: relative;
  width: 100%;
  height: 100vh; /* full viewport height */
  overflow: hidden;
}

.landvideo-background .video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills container, keeps aspect ratio */
  transform: translate(-50%, -50%);
  z-index: 0;
}

.landvideo-background .video-overlay-content {
  position: relative;
  z-index: 0;
  color: white;
  text-align: center;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  
}

.video-overlay-content {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video-overlay-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.landing-content {
  font-size: 30px;
  text-align: center;
  line-height: 1;
}
.connect-container {
  padding: 5px 10px;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.cta-content {
  font-size: 16px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cta-btn {
  background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}

@media (max-width: 500px) {
  .video-overlay-content p, 
  .aud-inline {
    font-size: 17px;
  }
}