.homecontact-container {
    background: #fff;
}

.homecontact-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.homecontact-box {
    margin: 0 0px 0 60px;
    padding: 55px 75px 35px 75px;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    width: 500px;
    height: 230px;
    border-radius: 15px;
}

.homecontact-subtitle {
    padding: 0 0 15px 0;
}

.homecontact-subtitle p {
    font-size: 32px;
    font-weight: bold;
}

.homecontact-button {
    margin: 15px 0;
}

.homecontact-link {
    background: #000;
    padding: 5px 40px;
    color: white;
    margin: 15px 0px 0 0;
    text-decoration: none;
    border-radius: 5px;
    font-size: 26px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    display: inline-block;
    border: 3px solid #000;
    cursor: pointer;
    font-family: 'PPNeueMontreal-Thin', system-ui, sans-serif;
}

.homecontact-link:hover {
    background: #fff;
    color: #000;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

.homecontact-logos {
    margin: 0 180px 0 0;
}

.homecontact-image {
    position: relative;
    bottom: -15px;
}


@media (max-width: 1282px) {
    .homecontact-logos {
        margin: 0 120px 0 0;
    }
}

@media (max-width: 1192px) {
    .homecontact-logos {
        margin: 0 50px 0 0;
    }
}

@media (max-width: 1132px) {
    .homecontact-wrapper {
        display: block;
    }
    .homecontact-box {
        margin: 15px auto;
    }
    .homecontact-logos {
        display: none;
    }
}

@media (max-width: 670px) {
    .homecontact-box {
        width: 390px;
    }

    .homecontact-maincontent h3 {
        font-size: 30px;
    }
    .homecontact-box {
        padding: 25px 10px 0px 10px;
    }
}


@media (max-width: 450px) {
    .homecontact-wrapper {
        margin: 0 0 90px 0;
    }

    .homecontact-box {
        width: 310px;
        height: 230px;
    }
}