.homecontact-container {
    background: #fff;
}

.homecontact-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.homecontact-box {
    margin: 0 0px 0 60px;
    padding: 75px;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    width: 500px;
    height: 230px;
    border-radius: 15px;
}

.homecontact-subtitle {
    padding: 0 0 15px 0;
}

.homecontact-subtitle p {
    font-size: 24px;
}

.homecontact-button {
    margin: 15px 0;
}

.homecontact-link {
    background: #000;
    padding: 5px 40px;
    color: white;
    margin: 15px 0px 0 0;
    text-decoration: none;
    border-radius: 5px;
}

.homecontact-logos {
    margin: 0 180px 0 0;
}

.homecontact-image {
    position: relative;
    bottom: -15px;
}