.homeslider-container {
  position: relative;
  height: 1025px;
  overflow: hidden;
  background-color: #fff;
}


/* Layered background divs */
.bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 1;
  opacity: 0; /* gsap will override */
}

/* This layer fades OUT */
.bg-exit {
  z-index: 0;
  opacity: 0;
}

/* This layer fades IN */
.bg-enter {
  z-index: 1;
  opacity: 1;
}

.homeslider-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.homeslider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeslider-title {
  text-align: center;
  font-size: 150px;
  text-transform: uppercase;
  position: relative;
  top: -160px;
  z-index: 2;
  width: 1400px;
  color: white;
  height: 180px;
}

.slider-video {
  width: 750px;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.video-enter {
  z-index: 2;
}

.video-exit {
  z-index: 1;
}

.homeslider-controls {
  justify-content: space-between;
  display: flex;
  font-size: 75px;
  padding: 0 30px;
  width: 100%;
  position: relative;
  bottom: 60px;
  cursor: pointer;
}

.homeslider-count p {
    font-size: 36px;
    position: relative;
    bottom: -140px;
    color: white;
    text-align: center;
}

.homeslider-link-button {
    position: relative;
    top: 120px;
    background: #FFF;
    color: #000;
    padding: 8px 25px;
    text-decoration: none;
}

.slide-jeanpaul {
    font-size: 90px;
    top: -110px;
}


@media (max-width: 1392px) {
    .homeslider-controls {
        width: 90%;
    }
}

@media (max-width: 1262px) {
    .homeslider-controls {
        width: 70%;
    }
}

@media (max-width: 988px) {
    .slide-jeanpaul {
        font-size: 80px;
        top: -50px;
    }
}


@media (max-width: 960px) {
    .slider-video {
        width: 540px;
    }
    .homeslider-title {
        top: -100px;
        font-size: 100px;
    }
    .homeslider-controls {
        width: 60%;
        bottom: 60px;
    }
    .homeslider-count p {
        bottom: -80px;
    }
    .homeslider-container {
        height: 725px;
    }
    .homeslider-link-button {
          top: 65px;
    }
}

@media (max-width: 858px) {
    .slide-jeanpaul {
        font-size: 60px;
        top: -30px;
    }
}

@media (max-width: 830px) {
    .homeslider-controls {
        width: 50%;
    }
}

@media (max-width: 705px) {
    .homeslider-container {
        height: 625px;
    }

    .homeslider-controls {
        width: 30%;
    }

    .slider-video {
        width: 270px;
    }
    
    .homeslider-title {
        top: -10px;
        font-size: 60px;
        height: 100px;
    }

    .homeslider-controls {
        width: 39%;
        scale: 0.7;
        top: -30px;
    }
    .homeslider-count p {
        bottom: -30px;
        font-size: 26px;
    }
    .homeslider-link-button {
        top: 17px;
    }
    
    .slide-jeanpaul {
        font-size: 30px;
        position: relative;
        top: 20px;
    }
}